@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

#menu-btn:checked ~ #menu {
    display: block;
}

.service-card {
    transition: transform 0.3s, cursor 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#prev-btn, #next-btn {
    transition: background-color 0.3s ease, color 0.3s ease;
}

#prev-btn:hover {
    background-color: #FD7E0B;
    color: white;
}

#next-btn:hover {
    background-color: white;
    color: #FD7E0B;
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-out;
}

.carousel-item {
    min-width: 32.58%;
    box-sizing: border-box;
    padding: 0 15px;
    margin-right: 15px; 
}

@media (max-width: 1024px) {
    .carousel-item {
        min-width: 50%;
        margin-right: 0; 
    }
}

@media (max-width: 768px) {
    .carousel-item {
        min-width: 100%;
        margin-right: 0; 
    }
}